<mat-card fxLayout="column">
  <p>Share an article, photo, video or idea.</p>
  <hr style="margin: 1rem 0 0.5rem" />
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button mat-stroked-button style="margin: 0 0.5rem 0 0">
        Write an article
      </button>
      <button mat-stroked-button style="margin: 0 0.5rem 0 0">Image</button>
      <button mat-stroked-button style="margin: 0 0.5rem 0 0">Video</button>
    </div>
    <button mat-flat-button color="primary">Post</button>
  </div>
</mat-card>
<hr style="margin: 0.5rem 0; border: 1px solid #cccccc" />
