<!-- #region navbar-->
<mat-toolbar color="primary" style="color: #fff">
  <div fxFlex fxLayoutAlign="space-between center">
    <span>My Application</span>
    <input type="text" placeholder="search" />
  </div>
</mat-toolbar>
<!-- #endregion -->
<div
  fxFlexFill
  fxLayout="row"
  fxLayoutAlign="space-around stretch"
  fxLayout.xs="center"
  fxLayoutGap="20px"
  fxLayoutGap.lt-md="10px"
  fxLayout.xs="column"
  style="padding: 1rem"
>
  <!-- #region left sidebar-->
  <div fxFlex="20" fxHide.lt-md>
    <mat-card>
      <div fxLayout="column" fxLayoutAlign="center">
        <div style="margin-bottom: 0.5rem">
          <div fxFlex="35"></div>
          <img
            src="https://i.pravatar.cc/100"
            fxFlex="30"
            style="border-radius: 50%"
          />
          <div fxFlex="35"></div>
        </div>

        <h2 style="text-align: center">Alireza</h2>
        <p style="text-align: center">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p style="text-align: center">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </mat-card>
  </div>
  <!-- #endregion -->

  <!-- #region newsfeeds list-->
  <div fxFlex="50" fxFlex.gt-lg="75" fxFlex.lt-md="80" fxFlex.xs="100">
    <div
      fxHide
      fxShow.lt-sm
      fxLayout="row"
      fxLayoutWrap="wrap"
      style="overflow: auto"
    >
      <app-select-user
        fxFlex.sm="20"
        fxFlex.xs="30"
        *ngFor="let user of users"
        [data]="user"
      ></app-select-user>
    </div>

    <app-add-new-post></app-add-new-post>
    <app-news-feed-list></app-news-feed-list>
  </div>
  <!-- #endregion -->

  <!-- #region right sidebar-->
  <div
    fxFlex="30"
    fxFlex.gt-lg="20"
    fxFlex.md="20"
    fxHide.lt-sm
    style="padding: 1rem; padding: 0.2rem; overflow: hidden"
  >
    <div style="overflow-x: hidden">
      <div *ngFor="let user of users">
        <app-select-user [data]="user"></app-select-user>
      </div>
    </div>
  </div>
  <!-- #endregion -->
</div>
<!-- #endregion -->

<!-- #region this when shows that screens have less than 420px width-->
<div
  *ngIf="preventDisplayingSiteContent"
  style="
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #f3f3f3;
  "
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <h2 style="padding: 1rem; font-size: x-large">Sorry</h2>
  <p style="padding: 1rem; font-size: x-large; text-align: center">
    This site does not support screens smaller than 420px.
  </p>
</div>
<!-- #endregion -->
